<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div id="app"></div>
    <template id="template">
        <!-- 遍历数组 -->
        <ul>
            <li v-for="num in arr">{{num}}</li>
        </ul>
        <ol>
            <li v-for="(num,index) in arr">{{num}},{{index}}</li>
        </ol>
        <!-- 遍历对象 -->
        <h2>个人信息</h2>
        <ul>
            <li v-for="item in obj">{{item}}</li>
        </ul>
        <ol>
            <li v-for="(value,key,index) in obj">{{index}}--{{key}}:{{value}}</li>
        </ol>
        <!-- 遍历数字 -->
        <div v-for="(number,index) in 10">{{index}}--{{number}}</div>
    </template>
</body>
<script src="../../javascript/vue.js"></script>
<script>
    const app = Vue.createApp({
        template: `#template`,
        data: function () {
            return {
                arr: [1, 2, 3, 4, 5],
                obj: {
                    name: '海绵宝宝',
                    age: 18,
                    address: '比奇堡',
                }
            };
        },
        methods: {

        }
    }).mount('#app');
</script>

</html>